.heading {
  position: static;
  max-width: 500px;
  margin: 24px auto 30px;
  font-family: soleil, sans-serif;
  color: #312f4f;
  font-size: 42px;
  line-height: 120%;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.section {
  position: relative;
  left: 0px;
  right: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-perspective: 0px;
  perspective: 0px;
  font-family: soleil, sans-serif;
  color: #000;
}

.submit-button {
  position: static;
  overflow: visible;
  float: right;
  clear: none;
  border-radius: 10px;
  background-color: #11d499;
}

.field-label {
  margin-top: 30px;
  margin-bottom: 8px;
  font-family: soleil, sans-serif;
  color: #312f4f;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}

.field-label.form-label-emp_range {
  margin-top: 8px;
}

.field-label.form-label-product_detail {
  color: #9499b3;
}

.text-field {
  font-family: 'Varela Round', sans-serif;
}

.field-label-2 {
  font-family: Verdana, Geneva, sans-serif;
  color: #312f4f;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}

.text-field-2 {
  font-family: 'Varela Round', sans-serif;
}

.field-label-3 {
  font-family: Verdana, Geneva, sans-serif;
  color: #312f4f;
  font-size: 16px;
  font-weight: 400;
}

.select-field {
  padding-bottom: 1px;
  font-family: 'Varela Round', sans-serif;
}

.text-field-3 {
  font-family: 'Varela Round', sans-serif;
}

.field-label-4 {
  font-family: 'Varela Round', sans-serif;
}

.field-label-5 {
  font-family: 'Varela Round', sans-serif;
}

.select-field-2 {
  font-family: 'Varela Round', sans-serif;
}

.field-label-6 {
  font-family: 'Varela Round', sans-serif;
}

.select-field-3 {
  font-family: 'Varela Round', sans-serif;
}

.field-label-7 {
  font-family: 'Varela Round', sans-serif;
}

.checkbox-field {
  font-family: 'Varela Round', sans-serif;
}

.checkbox-field-2 {
  font-family: 'Varela Round', sans-serif;
}

.checkbox-field-3 {
  font-family: 'Varela Round', sans-serif;
}

.checkbox-field-4 {
  font-family: 'Varela Round', sans-serif;
}

.checkbox-field-5 {
  font-family: 'Varela Round', sans-serif;
}

.field-label-8 {
  font-family: 'Varela Round', sans-serif;
}

.select-field-4 {
  font-family: 'Varela Round', sans-serif;
}

.field-label-9 {
  font-family: 'Varela Round', sans-serif;
}

.select-field-5 {
  font-family: 'Varela Round', sans-serif;
}

.field-label-10 {
  font-family: 'Varela Round', sans-serif;
}

.text-field-4 {
  font-family: 'Varela Round', sans-serif;
}

.field-label-11 {
  font-family: 'Varela Round', sans-serif;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row {
  padding-right: 0px;
}

.field-label-12 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 223px;
}

.field-label-13 {
  float: left;
  clear: left;
}

.text-field-5 {
  position: static;
  margin-left: 0px;
  float: none;
  clear: none;
}

.text-field-6 {
  display: block;
}

.text-field-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.field-label-14 {
  display: none;
}

.field-label-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.field-label-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.field-label-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.field-label-18 {
  max-width: 150px;
}

.text-block {
  min-width: 150px;
}

.column-3 {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.column-4 {
  font-family: 'Varela Round', sans-serif;
  font-size: 11px;
}

.field-label-19 {
  display: block;
}

.success-message {
  padding-bottom: 19px;
  background-color: #fff;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.container {
  position: relative;
  margin-top: 100px;
  padding-top: 0px;
  background-image: url('../images/Untitled-1.png');
  background-position: 50% 50%;
  background-size: 940px;
  background-repeat: repeat;
  background-attachment: scroll;
  font-family: soleil, sans-serif;
}

.form {
  max-width: 500px;
  margin-right: auto;
  margin-bottom: 150px;
  margin-left: auto;
}

.paragraph {
  max-width: 500px;
  margin: 30px auto 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: soleil, sans-serif;
  color: #696d8c;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  text-decoration: none;
}

.text-field-8 {
  border-radius: 3px;
  font-family: soleil, sans-serif;
  color: #312f4f;
  font-size: 16px;
  line-height: 120%;
}

.radio-button-field {
  display: inline-block;
}

.radio-button-field-2 {
  display: inline-block;
}

.radio-button {
  margin-left: -20px;
}

.radio-button-label {
  margin-right: 40px;
  margin-left: 0px;
}

.radio-button-2 {
  margin-left: -20px;
}

.radio-button-label-2 {
  margin-right: 40px;
  margin-left: 0px;
}

.div-block {
  margin-top: 32px;
}

.select-field-6 {
  font-family: soleil, sans-serif;
}

.form-block {
  font-family: soleil, sans-serif;
}

.checkbox-field-6 {
  display: inline-block;
  margin-right: 10px;
}

.div-block-2 {
  margin-top: 32px;
}

.div-block-3 {
  margin-top: 32px;
}

.text-field-9 {
  display: inline-block;
  width: 200px;
  margin-right: 8px;
}

.text-field-9.product-code {
  width: 245px;
  border-radius: 3px;
}

.text-field-9.product-price {
  width: 130px;
  border-radius: 3px;
}

.text-field-9.product-stock {
  width: 100px;
  border-radius: 3px;
}

.checkbox {
  min-height: 10px;
}

.link {
  display: block;
  max-height: 180px;
  max-width: 180px;
  margin-right: auto;
  margin-left: auto;
  background-color: #17d499;
  text-align: center;
}

.submit-button-2 {
  display: block;
  width: 300px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;
  background-color: #f79420;
  font-size: 16px;
  font-weight: 700;
}

.text-block-2 {
  color: #696d8c;
  font-size: 16px;
}

.text-block-2.sucess-header {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #4b4b4b;
  font-size: 150px;
  line-height: 120%;
}

.text-block-3 {
  margin-bottom: 100px;
  text-align: center;
}

.div-block-4 {
  text-align: center;
}

.heading-2 {
  display: block;
  max-width: 500px;
  margin: 24px auto;
  color: #312f4f;
  text-align: center;
}

.heading-3 {
  max-height: 500px;
  max-width: 500px;
  min-width: 0px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  text-align: center;
}

.bold-text {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #f79420;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.select-field-7 {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 0px;
}

.select-field-8 {
  margin-bottom: 30px;
}

.select-field-9 {
  margin-bottom: 30px;
}

.select-field-10 {
  margin-bottom: 30px;
}

.checkbox-field-7 {
  margin-bottom: 5px;
}

.link-2 {
  color: rgba(247, 148, 32, .68);
}

.link-3 {
  color: rgba(247, 148, 32, .68);
}

.link-4 {
  color: rgba(247, 148, 32, .68);
}

.italic-text {
  font-size: 12px;
}

.text-block-4 {
  padding-top: 80px;
  color: #696d8c;
  font-size: 14px;
  text-align: center;
}

.italic-text-2 {
  font-size: 12px;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-4 {
  margin-top: 0px;
  color: #f79420;
}

.paragraph-2 {
  margin-left: 500px;
}

.paragraph-3 {
  margin-top: 25px;
  margin-right: 200px;
  margin-left: 200px;
  padding-right: 0px;
  color: rgba(51, 51, 51, .64);
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
}

.heading-5 {
  margin: 100px 200px 200px;
  color: rgba(51, 51, 51, .87);
  text-align: center;
}

.html-embed {
  margin-top: 30px;
}

.link-5 {
  color: rgba(35, 82, 182, .71);
}

.div-block-5 {
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  border: 0px solid #000;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#676767), to(#676767)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .31)), to(rgba(0, 0, 0, .31)));
  background-image: linear-gradient(180deg, #676767, #676767), linear-gradient(180deg, rgba(0, 0, 0, .31), rgba(0, 0, 0, .31));
}

.text-block-5 {
  margin-bottom: 0px;
  padding: 30px 10px 10px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #fff;
  font-size: 50px;
  text-align: center;
}

.text-block-6 {
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  color: #fff;
  text-align: center;
}

